:root{
  --current-user-mention-color: pink;
  --mention-color: red;
  --current-user-mention-highlight: yellow;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial,sans-serif;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px #0056b3;
  border-radius: 0;
  padding: 10px 20px;
  transition: all 0.3s ease;
  box-shadow: none;
}

  .current-user-mention {
    display: inline;
    color: current-user-mention-color;
    font-weight: bold;
  }

  .mention {
    display: inline;
    color: mention-color;
    font-weight: bold;
  }
  
  .message-box {
    border-color:#0056b3;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
  }
 
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
 
  .inputs {
    padding: 20px;
    display: flex;
  }
 
  h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
 
  #message {
    flex: 1;
    border: 2px solid #007bff;
    padding: 10px;
  }
 
  
  #message {
    flex: 1;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .muted {
    font-size: 12px;
    color: rgb(97, 97, 84);
  }
 
  .participants-list{
    margin-left: 30px;
  }
 
  .admin-panel{
    margin-left: 60px;
  }