{% extends 'base.html' %}
{% block content %}

<div class="global-admin">
<h2 id="title-msg">Moderation Panel</h2>
<h2 id="title-msg">Active Reports</h3>
<table id="activereports">
    <tr id="header">
        <th>ID</th>
        <th>Room</th>
        <th>Send Date</th>
        <th>Date Reported</th>
        <th>Message Content</th>
        <th>User Reported</th>
        <th>Submitted By</th>
        <th>Actions...</th>
      </tr>
</table>
<h2 id="title-msg">Redacted Messages</h3>
<table id="redactedreports">
    <tr id="header">
        <th>ID</th>
        <th>Room</th>
        <th>Send Date</th>
        <th>Date Reported</th>
        <th>Message Content</th>
        <th>User Reported</th>
        <th>Submitted By</th>
      </tr>
</table>
<h2 id="title-msg">Dismissed Reports</h3>
<table id="dismissedreports">
    <tr id="header">
        <th>ID</th>
        <th>Room</th>
        <th>Send Date</th>
        <th>Date Reported</th>
        <th>Message Content</th>
        <th>User Reported</th>
        <th>Submitted By</th>
      </tr>
</table>
<h2 id="title-msg">Remove User</h3>
    <div>
    <input
    type="text"
    rows="3"
    placeholder="Message"
    name="User to Remove"
    id="message"
  />
  <p>CAUTION: This will delete a user's entire message history. Do you wish to proceed?</p>
  <button type="button" name="send" id="remove-user-btn" onClick="remove()">
    Remove User
  </button>
</div>
</div>

<script type="text/javascript"> 
    const activeTable = document.getElementById("activereports");
    const dismissedTable = document.getElementById("dismissedreports");
    const redactedTable = document.getElementById("redactedreports");
    
    const createReport = (id,room,sendDate,dateReported,messageContent,reportedUser,submittedBy,status) => {
        let content = `    <tr id="active-${id}">
        <td>${id}</td>
        <td><a href="/room?id=${room}">${room}</a></td>
        <td>${sendDate}</td>
        <td>${dateReported}</td>
        <td>${messageContent}</td>
        <td>${reportedUser}</td>
        <td>${submittedBy}</td>`;
        switch(status){
            case("PENDING"):
            content+= `<td><button id="resolve-${id}" onClick="redact(${id})">Redact Message</button><button id="dismiss-${id}" onClick="dismiss(${id})">Dismiss Report</button></th>
      </td>`;
            activeTable.innerHTML += content;
            break;
            case("REDACTED"):
            console.log("found redacted report.")
            content+= `</td>`;
            redactedTable.innerHTML+=content;
            break;
            case("DISMISSED"):
            content+= `</td>`;
            dismissedTable.innerHTML+=content;
            break;
        }
        
    }

    
  </script>


{% for report in reports %}
<script type="text/javascript">
  console.log("report {{report}}");
  createReport("{{report.reportID}}","{{report.CID}}","{{report.datetime}}","{{report.dateReported}}","{{report.messageContent}}","{{report.reportedUser}}","{{report.submittedBy}}","{{report.status}}");
</script>
{% endfor %}


<script type="text/javascript">
    var socketio = io();
    
    const redact = (id) => {
        console.log("clicked redact")
        socketio.emit("redactMessage", id);
    }

    const dismiss = (id) => {
        console.log("clicked dismiss")
        socketio.emit("dismissMessage", id);
    }
  </script>
{% endblock %}