{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">
    <h3 id="title-msg">Welcome to ChatChat, {{name}}</h3>
    <button type="submit" name="logout" class="logout-btn">Log Out</button>
    <h3>Join A Public Channel</h3>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
        <button type="submit" name="create" class="create-btn">Create a Public Channel</button>
    </div>
    <button type="submit" name="join" class="join-btn">Join Public Channel</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
    <div>
    <h3>My Chats</h3>
    <ul id="chatslist">
    </ul>
    </div>
</form>
<script type="text/javascript"> 
    const chats = document.getElementById("chatslist");
    const createChatItem = (code) => {
        const content = `<li><a href="/room?id=${code}">Public Channel ${code}</a></li>`;
        chats.innerHTML += content;
    }
    
  </script>
  {% for chat in userchats %}
  <script type="text/javascript">
    console.log("chat {{chat}}");
    createChatItem("{{chat}}");
  </script>
  {% endfor %}
{% endblock %}


