{% extends 'base.html' %} {% block content %}
<div class="message-box">
  <h2>Chat Room: {{code}}</h2>
  <div class="error" id="error"></div>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<div class="participants-list">
  <h2>Participants</h2>
  <ul id="participantsList"></ul> 
</div>
{% if isAdmin %}
<div class="admin-panel">
  <h2>Admin Panel</h2>
  <p>Add User to Chat:</p>
  <input
      type="text"
      rows="3"
      placeholder="Enter User Name"
      name="addMember"
      id="addMember"
    />
    <button type="button" name="addMember" id="addMember-btn" onClick="addMember()">
      Add Chat Member
    </button>
    <p>Remove User from Chat:</p>
    <input
        type="text"
        rows="3"
        placeholder="Enter User Name"
        name="removeMember"
        id="removeMember"
      />
      <button type="button" name="removeMember" id="removeMember-btn" onClick="removeMember()">
        Remove Chat Member
      </button>

    
      <p id="conv-type">Conversation Type: {{type}}</p>
      <button type="button" name="changePublic" id="changePublic-btn" onClick="setType('public')">
        Make Public
      </button>
      <button type="button" name="changePrivate" id="changePrivate-btn" onClick="setType('private')">
        Make Private
      </button>
  

      <button type="button" name="deleteChat" id="deleteChat-btn" onClick="deleteConversation()">
        Delete Conversation
      </button>
  

</div>
{% endif %}

<script type="text/javascript">
  var socketio = io();
  uid = "{{uid}}"
  console.log(uid)

  const messages = document.getElementById("messages");
  const members = document.getElementById("participantsList");


  const parseReply = (message, user) => {
    words = message.split(" ")
    parsed = ""
    signedInUserMention = false;
    for(var i = 0; i<words.length; i+=1){
      if(words[i][0]=='@'){
        if(words[i].length == user.length+1 && words[i].substring(1) == user){
          signedInUserMention = true;
        }
        parsed+=`<p class="mention">${words[i]}</p>`
      }
      else{
        parsed+=words[i];
      }
      if(i!=words.length-1){
        parsed += " ";
      }
    }
    if(signedInUserMention){
      parsed = `<p class="current-user-mention" class="message">`+parsed+'</p>';
    }
    return parsed;
  }

  let messageNumber = 0;

  const createMessage = (name, msg, date) => {
    messageNumber++;
    const content = `
    <div class="text" id="text-${messageNumber}">
        <span id="message-content-${messageNumber}">
            <strong>${name}</strong>: ${parseReply(msg,name)}
        </span>
        <span class="muted" id="message-datetime-${messageNumber}">
            ${date}
        </span>
        <button id="report-${messageNumber}" onClick="sendReport(${messageNumber})">Report Message</button>
        </span>
    </div>
    `;
    messages.innerHTML += content;
    if(msg == "This message was sent by a deleted user" || msg == "This message has been redacted by our moderation team due to it violating our content policy."){
      const m = document.getElementById(`message-content-${messageNumber}`);
      m.classList.add("special-msg");
    }
  };

  const initMemberList = (name) => {
    const content = `
    <li id="mem-${name}">
        ${name}
    </li>
    `;
    members.innerHTML += content;
  };

  const sendReport = (messageNumber) => {
    const messageText = document.getElementById(`message-content-${messageNumber}`).innerText;
    const messageDate = document.getElementById(`message-datetime-${messageNumber}`).innerText;
    msg = {"date":messageDate,"content":messageText}
    socketio.emit("sendReport", msg);
    console.log("sent report!!");
  };

  const removeListMember = (name) => {
    const toRem = document.getElementById("mem-"+name);
    toRem.remove();
  };

  const addMember = () => {
    const addMemberField = document.getElementById("addMember");
    if(addMemberField.value == "") return;
    socketio.emit("addMember", {user: addMemberField.value});
    addMemberField.value = "";
  };

  const removeMember = () => {
    const removeMemberField = document.getElementById("removeMember");
    if(removeMemberField.value == "") return;
    socketio.emit("removeMember", {user: removeMemberField.value});
    removeMemberField.value = "";
  };

  const setType = (type) => {
    socketio.emit("setType", type);
  };

  const deleteConversation = () => {
    socketio.emit("deleteConversation");
  };



  socketio.on("message", (data) => {
    if(data.message !=null){
    createMessage(data.name, data.message, data.date);
    }
    if(data.addUser != null){
      console.log("added user success")
      initMemberList(data.user);
    }
    if(data.removeUser != null){
      console.log("rem user success")
      removeListMember(data.user);
      //if i was removed, redirect to home
      if(data.user == uid){
        console.log("IM GONEE")
        window.location.replace("/");
      }
    }
    if(data.changeType != null){
      const type = document.getElementById("conv-type");
      type.innerText = `Conversation Type: ${data.type}`
    }
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.date}}");
</script>
{% endfor %}
{% for member in members %}
<script type="text/javascript">
  initMemberList("{{member}}");
</script>
{% endfor %}

{% endblock %}