{% extends 'base.html' %} {% block content %}
<div class="message-box">
  <h2>Chat Room: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<div class="participants-list">
  <h2>Participants</h2>
  <ul id="participantsList"></ul> 
</div>
{% if isAdmin %}
<div class="admin-panel">
  <h2>Admin Panel</h2>
  <p>Add User to Chat:</p>
  <input
      type="text"
      rows="3"
      placeholder="Enter User Name"
      name="addMember"
      id="addMember"
    />
    <button type="button" name="send" id="addMember-btn" onClick="addMember()">
      Add Chat Member
    </button>
    <p>Remove User from Chat:</p>
    <input
        type="text"
        rows="3"
        placeholder="Enter User Name"
        name="removeMember"
        id="removeMember"
      />
      <button type="button" name="send" id="removeMember-btn" onClick="removeMember()">
        Remove Chat Member
      </button>
</div>
{% endif %}

<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");
  const members = document.getElementById("participantsList");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  const initMemberList = (name) => {
    const content = `
    <li>
        ${name}
    </li>
    `;
    members.innerHTML += content;
  };

  const addMember = () => {
    const addMemberField = document.getElementById("addMember");
    if(addMemberField.value == "") return;
    socketio.emit("addMember", {user: addMemberField.value});
    addMemberField.value = "";
  };

  const removeMember = () => {
    const removeMemberField = document.getElementById("removeMember");
    if(removeMemberField.value == "") return;
    socketio.emit("removeMember", {user: removeMemberField.value});
    removeMemberField.value = "";
  };

  socketio.on("addMember", (user) => {
    console.log("todo");
  });

  socketio.on("removeMember", (user) => {
    console.log("todo");
  });

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}
{% for member in members %}
<script type="text/javascript">
  initMemberList("{{member}}");
</script>
{% endfor %}

{% endblock %}